@import "tailwindcss";

@theme inline {
  --color-white: var(--white);
  --color-black: var(--black);
  --color-bg: var(--bg);
  --color-main: var(--main);
  --color-mint: var(--mint);
  --color-lemon: var(--lemon);
  --color-hot-pink: var(--hot-pink);
  --shadow-brutal: 4px 4px 0px 0px var(--black);
  --radius-base: var(--radius);
}

:root {
  --white: #ffffff;
  --black: #000000;
  --main: #b6ace4;
  --bg: #f0eefc;
  --radius: 5px;
  --mint: #97ee88;
  --lemon: #fed170;
  --hot-pink: #ee8888;
}

@layer utilities {
  .shadow-brutal {
    box-shadow: var(--shadow-brutal);
  }
}

/* Hide Clerk Keyless Dev Mode Popup */
#clerk-components,
div[class*="clerk-keyless"],
div[id*="clerk-keyless"] {
  display: none !important;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
